hidden = ["target", ".cargo"]

entrypoint = "src/main.rs"
modules = ["rust-nightly"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Configure"
mode = "sequential"
author = 703768

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "exercism configure --token=41578643-e869-453b-ad76-66583e9697dd"

[[workflows.workflow]]
name = "Download Exercise"
mode = "sequential"
author = 703768

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "exercism download --force --track=rust --exercise=hello-world"

[[workflows.workflow]]
name = "Run Tests"
author = 703768
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo test"
